<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPractice"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".muisicApp.screen.HomeMusicActivity"
            android:exported="false" />
        <activity
            android:name=".notification_example.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".content_provider.screen.ContentProviderActivity"
            android:exported="false" />
        <activity
            android:name=".sqlite_example.SqliteActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".broadcasts_example.BroadCastsActivity"
            android:exported="false" />
        <activity
            android:name=".search_book_author.SearchBookActivity"
            android:exported="false" />
        <activity
            android:name=".internet_connection.InternetConnectionActivity"
            android:exported="false" />
        <activity
            android:name=".ExecutorExampleActivity"
            android:exported="false" />
        <activity
            android:name=".recycleview_example.RecycleViewExampleActivity"
            android:exported="false" />
        <activity
            android:name=".navigation_example.NavigationExampleActivity"
            android:exported="false" />
        <activity
            android:name=".menu_example.OrderDessertActivity"
            android:exported="false"
            android:label="@string/droid_cafe" />
        <activity
            android:name=".menu_example.MenuExampleActivity"
            android:exported="false"
            android:label="@string/droid_cafe" />
        <activity
            android:name=".DrawableExampleActivity"
            android:exported="false"
            android:theme="@style/DrawbleExample" />
        <activity
            android:name=".intent_example.IntentExampleActivity"
            android:exported="false" />
        <activity
            android:name=".fragment_example.FragmentExample1Activity"
            android:exported="false" />
        <activity
            android:name=".intent_example.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".muisicApp.ultis.MusicService" />
        <receiver android:name=".muisicApp.ultis.MusicReceiver"
            android:exported="false">
        </receiver>
    </application>

</manifest>